bold {
      font-weight: 500;
}
.reasons {
  font-family: Lato, sans-serif;
  color: #747373;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
}


.img_layover img {
  margin: auto;
  top: 25%;
  display: none;
}
.img_layover:hover {
  display: block;

}

.building_image {
  position: fixed;
  top: 18%;
  left: 8%;
}

#emaillink {
  color: white;
}
.fa {
  display: block !important;
}

.white {
  color: white !important;
}

.orange {
  color: #f0660a;
}
.icon-mission {
  padding-top: 30px;
  color: #f0660a;
  padding-left: 22px;
}

.icon-benefits-left {
  padding-top: 50px;
  padding-left: 5px;
}

.minus-five {
  padding-left: -5px;
}

.icon-benefits-right {
  padding-top: 50px;
  padding-right: 5px;
}

.header_logo {
  padding-right: 0px;
  padding-left: 0px;
}

.header-section {
  position: fixed;
  width: 100%;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  z-index: 100;
  color: rgba(51, 51, 51, 0.64);
}

.splash_image {
  width: 100%;
  height: 100%;
  margin-right: 0px;
}

.header_link {
  width: 100%;
  height: 100%;
}

.splash-section {
  position: static;
  background-image: url('../images/splashImage.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.splash-container {
  padding-top: 17px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.66);
}

.splash-title {
  margin-top: 72px;
  margin-bottom: 49px;
  font-family: Lato, sans-serif;
  color: white;
  font-size: 4.8em;
  line-height: 51px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5.1px;
}

.splash-description {
  margin-bottom: 65px;
  padding-right: 19%;
  padding-left: 19%;
  font-family: Lato, sans-serif;
  color: white;
  font-size: 1.75em;
  line-height: 33px;
  font-weight: 300;
  text-align: center;
}

.splash-overlay {
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 87px;
  background-color: rgba(0, 0, 0, 0.58);
}

#container-padding-bottom {
  padding-top: 18px }

.splash-btn-1 {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: inline-block;
  width: 11em;
  height: 3em;
  border-radius: 3px;
  background-color: #f0660a;
  -webkit-transition: background-color 500ms ease, color 500ms ease;
  transition: background-color 500ms ease, color 500ms ease;
  font-family: Lato, sans-serif;
  color: white;
  text-align: center;
  letter-spacing: 1px;
}

.splash-btn-1:hover {
  border: 2px solid #f0660a;
  border-radius: 3px;
  background-color: transparent;
  color: white;
}

.btn-container {
  margin-top: 15px;
  text-align: center;
}

.mission-title {
  margin-top: 92px;
  font-family: Lato, sans-serif;
  font-size: 43px;
  font-weight: 300;
  text-align: center;
}

.mission-title.industries {
  margin-top: 124px;
  margin-bottom: 58px;
  color: black;
  font-size: 4.2em;
}

.mission-description {
  width: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  font-size: 1.7em;
  line-height: 40px;
  font-weight: 300;
  text-align: center;
}

.mission-description-container {
  position: static;
  width: auto;
  text-align: center;
}

.mission-container {
  padding-bottom: 0px;
  text-align: center;
  margin-top: -60px;
}

.break-container {
  padding-left: 45%;
  text-align: center;
}

.break-columns {
  width: 10%;
  height: 2%;
}

.three-column {
  text-align: left;
}

.header-drop {
  width: 100%;
}

.nav {
  position: relative;
  z-index: 1500;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0);
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 100;
  overflow-x: visible;
  overflow-y: visible;
  width: 100%;
  border-bottom: 1px solid rgba(116, 116, 116, 0.69);
  background-color: rgba(255, 255, 255, 0.9);
}

.nav-link {
  padding-top: 20px;
  -webkit-transition: border 450ms ease;
  transition: border 450ms ease;
  font-family: Lato, sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.nav-link:hover {
  border-bottom: 2px solid #f0660a;
}

.benefits-title {
  margin-bottom: 0px;
  text-align: center;
}

.benefits-item-title {
  font-size: 23px;
  font-weight: 400;
  font-family: Lato, sans-serif;
  line-height: 25px;
}

.benefits-item-div {
  margin-right: 0px;
  padding-right: 0px;
  font-weight: 400;
  text-align: right;
}

.benefits-item-div.right {
  text-align: left;
}

.benefits-item-description {
  color: #747373;
  font-family: Lato, sans-serif;
}

.benefits-item-description.right {
  padding-right: 15%;
}

.benefits-item-description.left {
  padding-left: 15%;
}

.section-tagline {
  margin-bottom: 19px;
  font-family: Lato, sans-serif;
  color: #747373;
  font-size: 19px;
  font-weight: 400;
}

.mission-section {
  margin-top: 41px;
  margin-bottom: 58px;
  padding-right: 10%;
  padding-left: 10%;
}

.benefits-icon-div {
  margin-left: 11px;
}

.benefits-column-container-left {
  padding-right: 5%;
}

.but-right {
  padding-left: 5%;
}

.benefits-icon-div-right {
  margin-right: 13px;
  padding-right: 0px;
}

.benefits-left-column {
  padding-right: 0px;
}

.header_logo {
  height: 78px;
    width: 119px;
}

  .industries-container-mobile {
    display: none;
  }

@media (max-width: 770px) {
  .industries-container {
    display: none;
  }
  .industries-container-mobile {
    display: block;
  }
}

@media (max-width: 500px) {
  .header_logo {
    margin-left: 6px;
    height: 54px;
      width: 91px;
  }
}

.about-top-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding-left: 31px;
  padding-top: 15%;
  }


.discount-icon {
  background-image:url('../images/discount.jpg');
  background-repeat: no-repeat;
height: 103px;
top: -7px;
margin-right: -14px;
width: 51px;
position: absolute;
display: block;
}

.about-top-container {
  background-image:url('../images/poppop.jpg');
  background-position-y: 22%;
  background-position-x: 30%;
  height: 415px;  background-size: cover;
  height: 100%
}

.about-top-title {
  margin-top: 56px;
  margin-bottom: 44px;
  font-family: Lato, sans-serif;
  font-size: 50px;
  font-weight: 400;
}

.about-top-description {
  margin-bottom: 39px;
  padding-right: 18%;
  font-family: Lato, sans-serif;
  font-size: 1.3em;
  line-height: 27px;
  font-weight: 300;
}

.about-main {
  margin-top: 40px;
  border-style: none;
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.36);
}

.about-main-tag-container {
  margin-top: 26px;
  margin-bottom: 15px;
  text-align: center;
}

.about-main-tag {
  font-family: Lato, sans-serif;
  font-size: 33px;
  line-height: 41px;
  font-weight: 300;
}

@media (max-width: 500px) {

  .icon-mission,
  .mission-column-title,
  .mission-column-description {
    text-align: center;
  }

  .benefits-item-description.left {
    padding-left: 0%;
  }

  .icon-benefits-left,
  .icon-benefits-right {
    display: none !important;
  }
  .about-main {
    margin-top: 0px;
  }
  .about-main-tag{
    font-size: 1.9em;
    padding: 2%;
  }
  .about-top-title {
    line-height: 57px;
    margin-top: 28px;
    margin-bottom: 18px;
    padding-right: 30px;
  }

  .about-right-image {
    margin-top: 13px !important;
  }

  .team-column {
    padding-bottom: 31px;
  }

  .team-name-override {
    margin-top: 6px;
  }

  #about {
    padding: 10%;
  }

  .splash-title {
    margin: 6.1%;
    font-family: Lato, sans-serif;
    color: white;
    font-size: 4.1em;
    line-height: 58px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.1px;
  }

  .splash-description {
    margin-bottom: 65px;
    padding-right: 19%;
    padding-left: 19%;
    padding: 3% 15px;
    margin: 2% 15px;
    font-family: Lato, sans-serif;
    color: white;
    font-size: 1.3em;
    line-height: 33px;
    font-weight: 300;
    text-align: center;
  }

  .splash-container  {
    margin-top: -27px;
  }

  .mission-title {
    margin-top: 18px;
    margin-bottom: -13px;
  }

  .mission-description {
    font-size: 1.3em;
    line-height: 36px;
  }

  .mission-container {
    margin-top: -20px

  }

  .about-top-title {
    font-size: 35px;
  }

}

.about-main-description {
  font-family: Lato, sans-serif;
  color: #747373;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
}

.about-top-section {
}

.contact-section {
  margin-top: 79px;
  border-top: 1px solid #9c9c9c;
  background-image: url('../images/whitemarsh.png');
}

.contact-overlay-wrapper {
  background-color: rgba(0, 0, 0, 0.6);

}

.contact-form-title {
  color: white;
}

.contact-title {
  margin-bottom: 21px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: white;
}

.contact-text-left {
  padding-left: 25px;
  position: relative;
  top: -33px;
  left: 10px;
  font-family: Lato, sans-serif;
  color: white;
}

.contact-icon {
  color: white;
}

#phone {
  top: -26px
}

#address-container {
  height: 43px;
}

.contact-text-container-left {
  margin-bottom: -1px;
}

.contact-form-message {
  height: 216px;
}

.contact-submit {
  background-color: #f0660a;
  font-family: Lato, sans-serif;
}

.contact-submit:hover {
  border: 2px solid #f0660a;
  background-color: transparent;
  color: black;
}

.contact-form-title {
  font-family: Lato, sans-serif;
  font-weight: 300;
}

.contact-form-container {
  padding-left: 10%;
}

.mission-section-bottom {
  position: relative;
  z-index: 0;
}

.mission-section-bottom-row {
  position: static;
  z-index: 0;
}

.mission-column-title {
  font-family: Lato, sans-serif;
  font-size: 27px;
  font-weight: 300;
}

.mission-column-description {
  font-family: Lato, sans-serif;
  color: #747373;
  font-weight: 400;
}

.benefits-section {
  padding-right: 10%;
  padding-left: 10%;
}

hr {
  width: 50%;
}

.customer-benefits-section {
  background-image: url('../images/customers-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*perspective: 1px;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;*/
}

.customer-benefits-overlay {
  padding-right: 10%;
  padding-left: 10%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding-bottom: 20px;
}

.vendor-benefits-title {
  margin-bottom: 17px;
  padding-top: 56px;
  font-family: Lato, sans-serif;
  font-size: 43px;
  font-weight: 300;
}

.about-right-image {
  margin-top: 151px;
}

.mission-column-right {
  /*top: 2px;*/
  bottom: -3px;
  z-index: 0;
}

.benefits-btn-container {
  margin-top: 49px;
  text-align: center;
}

.benefits-btn {
  width: 11em;
  height: 3em;
  border-radius: 3px;
  background-color: #f0660a;
  -webkit-transition: background-color 500ms ease, color 500ms ease;
  transition: background-color 500ms ease, color 500ms ease;
  font-family: Lato, sans-serif;
}

.benefits-btn:hover {
  border: 2px solid #f0660a;
  background-color: transparent;
  color: black;
}

.about-main-container {
  border-top: 1px solid #747373;
}

.industries-served-section {
  margin-top: 73px;
}

.left-box-shadow {
  width: 100%;
  -webkit-box-shadow: -8px 13px 38px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 13px 38px -3px rgba(0,0,0,0.75);
  box-shadow: -8px 13px 38px -3px rgba(0,0,0,0.75);
}

.right-box-shadow {
  width: 100%;
  -webkit-box-shadow: 11px 13px 38px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 13px 38px -3px rgba(0,0,0,0.75);
box-shadow: 11px 13px 38px -3px rgba(0,0,0,0.75);
}
.industries-served-row {
  margin-top: 36px;
}

.industries-served-row.last {
  padding-bottom: 39px;
  border-bottom: 2px solid #7e7e7e;
}

.industries-served-title {
  font-family: Lato, sans-serif;
  font-weight: 400;
  text-align: left;
}

.industries-served-title.left {
  text-align: right;
}

.industries-served-paragraph {
  font-family: Lato, sans-serif;
  color: #838383;
  font-size: 1.6em;
  line-height: 31px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 1.1px;
}

.industries-served-paragraph.left {
  text-align: right;
}

.industries-served-image-left {
  text-align: right;
}

.industries-served-image-column-left {
  text-align: right;
}

#mobile-text-center {
  text-align: center !important;
}

#mobile-margin-bottom {
  margin-bottom: 35px !important;
}

#mobile-text-style {
  font-size: 3.5em;
}

.industries-served-description {
  margin-bottom: 20px;
  padding-right: 152px;
  padding-left: 153px;
  font-family: Lato, sans-serif;
  color: #6b6b6b;
  font-size: 1.3em;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2.1px;
}

.industries-served-specific-title {
  float: left;
  width: 100%;
  border-bottom: 2px solid #8b8b8b;
  font-family: Montserrat, sans-serif;
  color: #2e2e2e;
  font-size: 2.5em;
  font-weight: 400;
  text-align: center;
}

/*@media (max-width: 500px) {
  .industries-served-specific-title {
    font-size: 1.5em;
  }
}*/

.industries-container {
  margin-bottom: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: center;
}



.team-title {
  margin-top: 47px;
  padding-bottom: 32px;
  border-bottom: 1px solid #7c7c7c;
  font-family: Lato, sans-serif;
  font-size: 3.5em;
  font-weight: 400;
  text-align: center;
}

.contact-form {
  width: 50%;
  text-align: left;
}

.industries-column-right {
  padding-left: 5%;
}

.team-pic-div {
  text-align: center;
  margin-bottom: 20px;
}

.team-div-text {
  text-align: center;
}

.team-padding {
  padding-top: 19px;
}
.team-name {
  font-family: Lato, sans-serif;
  line-height: 20px;
  font-weight: 400;
}

.team-description {
  font-family: Lato, sans-serif;
  font-weight: 300;
}

.team-description-info {
  font-family: Lato, sans-serif;
  font-weight: 300;
  border-bottom: 1px solid #b8b8b8;
  padding-bottom: 11px;
}

.team-row {
  margin-top: 25px;
}

.team-position {
  border-bottom: 1px none #cecece;
  font-family: Lato, sans-serif;
  color: #2c2c2c;
  font-size: 1.3em;
  font-weight: 300;
}

html.w-mod-js *[data-ix="splash"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="move-up-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px) scale(0.5);
  -ms-transform: translate(0px, 100px) scale(0.5);
  transform: translate(0px, 100px) scale(0.5);
}

html.w-mod-js *[data-ix="scroll-to-see"] {
  opacity: 0;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

html.w-mod-js *[data-ix="slide-in-left"] {
  opacity: 0;
  -webkit-transform: translate(-100px, 0px) scale(0.55);
  -ms-transform: translate(-100px, 0px) scale(0.55);
  transform: translate(-100px, 0px) scale(0.55);
}

html.w-mod-js *[data-ix="slide-in-right"] {
  opacity: 0;
  -webkit-transform: translate(100px, 0px) scale(0.67);
  -ms-transform: translate(100px, 0px) scale(0.67);
  transform: translate(100px, 0px) scale(0.67);
}

html.w-mod-js *[data-ix="slide-up-scroll"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px) scale(0.5);
  -ms-transform: translate(0px, 100px) scale(0.5);
  transform: translate(0px, 100px) scale(0.5);
}

html.w-mod-js *[data-ix="slide-down-scroll"] {
  opacity: 0;
  -webkit-transform: translate(0px, -100px) scale(1.27);
  -ms-transform: translate(0px, -100px) scale(1.27);
  transform: translate(0px, -100px) scale(1.27);
}

html.w-mod-js *[data-ix="slide-left-load"] {
  opacity: 0;
  -webkit-transform: scale(0.84) translate(-100px, 0px);
  -ms-transform: scale(0.84) translate(-100px, 0px);
  transform: scale(0.84) translate(-100px, 0px);
}

html.w-mod-js *[data-ix="slide-right-load"] {
  opacity: 0;
  -webkit-transform: translate(100px, 0px) scale(0.71);
  -ms-transform: translate(100px, 0px) scale(0.71);
  transform: translate(100px, 0px) scale(0.71);
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}

@media (max-width: 479px) {
  .industries-served-description {
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media (min-width: 875px) {
  .building_image {
    left: 9%;
  }
}

@media (min-width: 945px) {
  .building_image {
    left: 10%;
  }
}

@media (min-width: 1000px) {
  .building_image {
    left: 13%;
  }
}

@media (min-width: 1000px) {
  .building_image {
    left: 16%;
  }
}
