vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|07 Mar 2007 18:43:47 -0000
vti_extenderversion:SR|5.0.2.2634
vti_usagebymonth:UX|15 37 55 33 51 71 83 87 58 80 104 71 30
vti_usagebyweek:UX|1 10 6 9 7
vti_usagebyday:UX|0 1 1 2 0 3 0 1
vti_usagelastupdated:TX|15 Feb 2010 09:02:42 -0000
vti_usagetotalhits:IX|775
