body {
	background: #FFFFFF;
	color: #222222;
	margin: 0px 0px;
	padding: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

h2 {  
    font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; 
}

h3 {  
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; 
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.25;
	list-style-type: square;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 0px;
	line-height: 1.0;
	text-align: left;
}

a:link {
	color: #000099;
	text-decoration: none;
}

a:visited {
	color: #333399;
	text-decoration: none;
}

a:hover {
	color: #990000;
	text-decoration: underline;
}

a:active {
	color: #990000;
	text-decoration: none;
}

form {
	background-color: #CCCC99;
}

.tableHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 12px;
	background-color: #494999;
	text-align: left;
}

#headerTable {
	color: #4F1B11;
	background-color: #BDCFCF;
}

#headerTitle {
	background-image:url(/images/black-blue-fade.jpg);
	background-repeat: repeat-x;
	height: 89px;
	}
	
#headerSlogan {
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style:italic;
	padding: 0px 0px 0px 5px;
	vertical-align: bottom;	
	line-height: 70px;
	height: 60px;
}
	
#headerNav {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-left: 1px solid #000;
	}
	
#topNav {

}

#topNav ul {
	margin: 0px 0px;
	padding: 0px;
}
	
#topNav li {
	list-style-type: none;	
	float: left;
}

#topNav li a:link, #topNav li a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;	
	color: #006600;
	background-color: #E6D9FF;
	font-style: normal;
	font-size: 12px;
	text-decoration: none;
	text-align: center;
	line-height: 24px;
	letter-spacing: 1px;
	border-right: 1px solid #006600;
	border-top: 1px solid #006600;
	border-bottom: 1px solid #006600;
	padding: 4px 7px;
	margin: 0px 0px 0px 0px;
}
	
#topNav li a:hover {
	text-decoration: none;
	background-color: #FFCC99;
}

#headerRules {
	background-image: url(../outline/images/lines.gif);
	background-repeat: repeat-x;
}

#content {
	padding: 10px 20px;
	background-image: url(../outline/images/outline.gif);
	background-repeat: no-repeat;
	background-position: center;
}

#sidebar {
	background-color: #CDBEB8;
	border-right: 1px solid #000;
}

#sidebar th {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	font-style: italic;
	color: #FFFFFF;
	font-size: 13px;
	background-color: #4F1B11;
	text-align: left;
	padding: 5px;
}

#sidebar li {
	margin-left: -14px;
    line-height: 18px;
}

#sidebar a:link {
	font-family: Georgia, Arial, Helvetica, sans-serif;
	color: #003300;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
}

#sidebar a:visited {
	color: #336633;
	font-family: Georgia, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
}

#sidebar a:hover {
	background-color: #FFCC99;
}

#sidebar a:active {
	text-decoration: underline;
}

.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}

input.big {
	width: 100px;
}

input.small {
	width: 50px;
}

img {
    border: 0px;
}

.divider {
	background-image: url(../outline/images/lineVertical.gif);
	background-repeat: repeat-y;
	background-position: center;
}

.testimonial {
	margin-top: 10px;
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 16px;
	font-style:italic;
}


/* TABLES */

table td {
	vertical-align:top;
}

  /* table type 1 */

.tableType1 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	line-height: 16px; 
	border-left: solid 1px #865C37;
	border-bottom: solid 1px #865C37;
	background-color: #F5EAE2;
	margin-bottom: 20px;
}
.tableType1 td {
	padding: 6px 6px;
	border-right: solid 1px #865C37;
	border-top: solid 1px #C7BEB7;
}
.tableType1 p {
	margin-top: 6px;
	line-height: 20px;
}

.tableType1 ul, .tableType1 li {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	line-height: 16px; 
}

.tableType1 .heading {
 font-family: Arial, Helvetica, sans-serif; 
 font-size: 12px; 
 line-height: 14px;
 font-weight: bold;
 color: #FFFFFF;
 background-color: #865C37;
}

  /* table type 2 */

.tableType2 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	line-height: 16px; 
	border-left: solid 1px #865C37;
	border-bottom: solid 1px #865C37;
	background-color: #F5EAE2;
	margin-bottom: 20px;
}
.tableType2 td {
	padding: 6px 6px;
	border-right: solid 1px #865C37;
}
.tableType2 p {
	margin-top: 6px;
	line-height: 20px;
}

.tableType2 ul, .tableType2 li {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	line-height: 16px; 
}

.tableType2 .heading {
 font-family: Arial, Helvetica, sans-serif; 
 font-size: 12px; 
 line-height: 14px;
 font-weight: bold;
 color: #FFFFFF;
 background-color: #865C37;
}


#footer {
	color: #4F1B11;
	background-color: #BDCFCF;
	border-top: 2px solid #000000;
}

#footer p {
	font-family:Georgia, Arial, Helvetica, sans-serif; 
	font-size: 11px;
	line-height: 14px;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 6px;
	margin-bottom: 6px;
}

#credit {
	color: #444444;
}

#credit p {
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
	letter-spacing: 2px;
	text-align: center;
	margin-top: 6px;
}

#credit a:link {
	font-family: Arial, Helvetica, sans-serif;
	color: #000099;
	text-decoration: none;
	font-style: normal;
	font-size: 11px;
	font-weight: bold;
}

#credit a:hover {
	color: #993300;
	text-decoration: underline;
}

#bottomNav {
	margin-top: 0px;
	margin-left: 10px;
	float: left;
	border-right: 1px solid #C9A594;
	border-top: 1px solid #C9A594;
	border-left: 1px solid #C9A594;
	width: 260px;	
	display:block;
	}
	
#bottomNav ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#bottomNav li {
	list-style-type:none;
	display:block;
}
#bottomNav li a:link, #bottomNav li a:visited {
	color: #3D3595;
    background-color: #ECD8CE;
	padding: 4px 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration:none;
	letter-spacing: 1px;
	border-bottom: 1px solid #C9A594;
	line-height: 10px;
	display:block;
}

#bottomNav li a:hover {
	background-color: #DBC4B9;
}
