vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_webservertype:SR|apache-2.0
vti_usagebymonth:UX|189 451 446 500 595 401 448 519 425 507 361 395 403
vti_usagevisitsbyweek:UX|2 22 28 22 14
vti_oldestcompatibleversion:SR|2.0.0.0
vti_usagelastformat:SX|1 2 2 L 
vti_usagevisitsbymonth:UX|49 92 74 81 124 90 109 186 132 180 174 87 66
vti_usagelastupdated:TX|15 Feb 2010 09:03:06 -0000
vti_textindexood:IR|0
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_usagevisitsbyday:UX|0 2 3 2 3 4 2
vti_approvallevels:VR|Approved Denied Pending\\ Review
vti_hassearchbot:BR|false
vti_dependenciesood:IR|0
vti_usagehitsbyday:UX|0 22 12 31 15 31 12 9
vti_usagefirstdata:TX|01 Feb 2009 05:00:00 -0000
vti_usagebyweek:UX|12 102 83 107 67
vti_usagebyday:UX|0 12 10 20 10 11 12 7
vti_usagehitsbymonth:UX|294 782 899 737 944 807 1132 1002 855 1015 950 926 770
vti_usagehitsbyweek:UX|22 168 118 258 133
vti_usagelastmarker:SX|5649 5894 68.2.24.105 - - [14/Feb/2010:05:18:40 -0500] "GET /favicon.ico HTTP/1.1" 404 29
vti_featurelist:VX|vti_ACGroups vti_ACUseDomains vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerIndexServer vti_ServerODBC vti_ServerASP vti_ServerCollab vti_TimedDocEvents
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_usagelastlog:SX|/home/virtual/site42/fst/var/log/httpd/access_log.02-14-10
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_defaultcharset:SR|windows-1252
vti_autorecalc:IX|1
vti_disableautoimgsizeexts:SX|.asp
vti_createpostinfo:BX|false
vti_extenderversion:SR|5.0.2.2634
vti_usageserverlastupdated:TX|15 Feb 2010 09:03:06 -0000
vti_usagedownload:UX|2523 5622 8026 7496 7782 10373 15475 10045 10221 33503 9775 10960 32103
