* {
  font-family: verdana;
        
  }        
.errors {
  color:red;
}      
      .mainTable {
        width:950px;
        table-layout:fixed;
        background-color:white !important;
        margin:0 auto;
        
      }
      table.mainTable,  table.mainTable td {
        border:2px solid black ;
        font-size:11px;
        border-collapse:collapse
      }

      table.mainTable td {
        padding:3px !important;
      }
      
      table.mainTable table td{
        border:0;
      }

  td.mainTable {
    vertical-align:text-top;
    
    background-color:#fff;
    
  } 
  
  h1 {
    margin:0;
    padding:0;
  }
  input[disabled] {
    background-color:#fff;
    color:black !important;
    font-weight:bold;
  }
  
  .formText {
    font-weight:bold;
    font-size:12px;
  }
  .sub-table, .sub-table td {
    border:1px solid white !important;
    vertical-align:text-center;
  }
  
  .centerText {
    text-align:center;
  }
  .rightText {
    text-align:right;
  }
  
  .mainTable input[type='text'] {
    
    font-size:12px;
    width:95%;
    padding:2px 1px;
  }
  
  .mainTable input[type='submit'] {
    padding:5px;
    font-size:16px;
  }
  
  
  
  fieldset.formBox {
    width:70%;
    margin:0 auto;
    margin-top:20px;
    padding:20px;
    
  }
  
  .formTable {
    width:520px;
    margin:0 auto;
    
  }
  
  fieldset .innerSet {
    width:520px;
    margin:0 auto;
    margin-top:20px;
    
  }
  
  
  
  fieldset.formBox legend {
    background-color:#b2dd44;
    width:100%;
    padding:5px;
    border:3px solid white;
    font-weight:bold;
  }

  .formTable input[type='text'] {
    width:300px;
  }
  
  input[type='submit'] {
    padding:2px 5px;
  }
  
  input[type='button'] {
    padding:2px 5px;
  }  
  

    .formTable select {
    width:300px;
  }

  .formTable th{
    width:200px;
    padding:5px;
  }
  
  .formTable td {
    vertical-align:text-top;
    padding:5px;
  }
  
  .app-message {
    font-size:10px;
    line-height:10px;
    text-align:justify;
  }
  
  .noBorders {
    border:0 !important;
  }
  
  .required {
    color:red;
  }
  
  
  
  .apply {
    background-color:red;
    padding:10px;
    border:3px solid white;
    margin:20px auto;
    display:block;
    width:150px;
    background-color:#b2dd44;
    color:white;
    text-decoration:none;
    font-style:italic;
    font-weight:bold;
    
    
  }
  
  a.apply {
    text-decoration:none;
    font-family:times;
    font-size:20px;
    color:black;
  }
  
  .title {
    font-family:times;
    padding-top:10px;
    font-size:18px;
    font-style:italic;
    padding-left:20px;
    font-weight:bold;
    
  }
  
  .justify {
    text-align:justify;
  }