/* CSS Document */
body {
	text-align:center;
	background-color: #0e3c54;
}
#doc3 {
	max-width:1024px;
	min-width: 900px;
	margin: 0 auto;
	text-align:left;
}
#hd {
	border: solid .615384615em #FFFFFF; /* non-IE */
	*border: solid .600553846em #FFFFFF; /* IE */
	margin-top:15px;
	margin-bottom: 15px;
}
#hd .ct {
	background-color:#166086;
}
.ct {
	/* padding: 8px; */

}
.bodyContent {
	margin-right:20px;
}
/*.yui-b {
	background-color:blue;
}*/
#bd {
	background-color:#OE3C54;
	border: solid 0px #fff;
}
/* trick to hide this content from user, but still visible for search engines */
.replace {
	height:0;
	overflow:hidden;
	text-indent:-1000em;
}

.headerImage {
	background-color: #166087;
	margin-bottom:0px;
	height:93px;
}

.topNav {
	background-color: #166087;
	border-top: solid #FFFFFF 3px;
	margin-top: -3px; /* NON IE */
	*margin-top: 0px; /* IE */
	margin-bottom:0px;
	
}


.topNav ul {
	overflow:auto; /* forces parent to take a second look at child's actual height - necessary with floated children */
	zoom:1; /* does same thing for IE windows */
}
.topNav li {
	flaot:left;
	display: inline;
}
.topNav li a, topNav li a:visited {
	float:left; /* necessary to get padding on a tag in some browsers */
	padding: 5px 8px;
	text-decoration: none;
	background-color: #1e84ba;
	color: #FFF;
	border-right: 1px solid #fff;
}
.topNav li a:hover {
	background-color: #fe8d1b;
	color: #fff;
}
#ft {
	text-align:center;
	margin-top:15px;
}
#ft .ct {
	padding: 5px 8px;
	background-image:url(../layout/corner_white.gif);
	background-repeat:no-repeat;
	background-position:top right;
	
	background-color:#FECC2F;
	border: solid 8px #fff;
}

TABLE.contParent01 {
margin-left: 4px; /* non-IE */
*margin-left: 0px; /* IE */
width: 99.2%; /* non-IE */
*width: 100%; /* IE */
}

TD.contWind01 {
	width: 193px;
	
	background-image:url(../layout/corner_white.gif);
	background-repeat:no-repeat;
	background-position:top right;
	
	background-color: #FE8D1B;
	border: solid .615384615em #FFFFFF; /* non-IE */
	*border: solid .600553846em #FFFFFF; /* IE */
}

TD.contWind02 {
	width: auto;
	
	padding: 0px;
	background-image:url(../layout/../layout/corner_white.gif);
	background-repeat:no-repeat;
	background-position:top right;
	background-color: #CFE89A;

	border: solid .615384615em #FFFFFF; /* non-IE */
	*border: solid .600553846em #FFFFFF; /* IE */
}

TD.contWind03 {
width: 15px;
background-color: #0E3C54;
border: none; /* non-IE */
*border: none; /* IE */
}

TD.subContWind01 {
	width: 193px;
	
	padding: 8px;

	background-color: false;
	border: false; /* non-IE */
	*border: false; /* IE */
}

TD.subContWind02 {
	width: auto;
	
	padding: 8px;

	background-color: false;
	border: false; /* non-IE */
	*border: false; /* IE */
}

.accentTag {
color: #FFFFFF;
font-family: Arial, Helvetica, sans-serif; 
}

.accentLink {
font-family: Arial, Helvetica, sans-serif; 
text-decoration: underline;
color: #FFFFFF;
}

.accentLink:Hover {
font-family: Arial, Helvetica, sans-serif; 
text-decoration: underline;
color: #FE8D1B;
}


/*Styles used below to layout the editable content on sub template pages*/

.pageTitle {
	width: 100%;
	height: 41px;
	margin-top: 30px;
}

.contentParagraph {
font-family: Arial, Helvetica, sans-serif; 
font-size:10pt;
margin-left: 50px;
margin-right: 50px;
}

.subHeading {
font-family: Arial, Helvetica, sans-serif; 
font-size:13pt;
font-weight: bold;
font-style: italic;
margin-left: 15px;
margin-right: 15px;
}

.bulletHead {
font-family: Arial, Helvetica, sans-serif; 
font-size:10pt;
font-weight: bold;
margin-left: 30px;
margin-right: 15px;
}

.bulletSub {
font-family: Arial, Helvetica, sans-serif; 
font-size:10pt;
margin-left: 50px;
margin-right: 15px;
}

.valueText {
font-family: Arial, Helvetica, sans-serif; 
margin: 11px;
font-size:10pt;
}

.linkMain{
font-family: Arial, Helvetica, sans-serif; 
text-decoration: underline;
color: #0e3c54;
}

.linkMain:hover{
font-family: Arial, Helvetica, sans-serif;
text-decoration: underline;
color: #FFFFFF;
}

/* Slide show formatting */
.slideShow {
	margin:10px;
}

/* table type 1 */

.tableType1 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	line-height: 16px; 
	border-left: solid 1px #71952C;
	border-bottom: solid 1px #71952C;
	background-color: #CFE89A;
	margin-bottom: 20px;
	margin-left:0px;
}
.tableType1 td {
	padding: 6px 6px;
	border-right: solid 1px #71952C;
	border-top: solid 1px #71952C;
}
.tableType1 p {
	margin-top: 6px;
	line-height: 16px;
}

.tableType1 ul, .tableType1 li {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	line-height: 16px; 
}

.tableType1 .heading {
 font-family: Arial, Helvetica, sans-serif; 
 font-size: 14px; 
 line-height: 14px;
 font-weight: bold;
 color: #FFFFFF;
 background-color: #71952C;
}